<div class="card">
  <div class="card-header">
    <h1>About Website</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Are you having trouble remembering your friends' information? Then this
    is the website just for You! Sign Up and save your friends' data at one place!</h5>
    <p class="card-text">Please follow the next crucial steps before
      using this website. The first step is to make sure that you have at least one friend. If this
    is apparently not the case for you, please seek immediate socializing. The second step is to push that beautifully well constructed, limited edition, pixel rich, blue button down below.</p>

    <button type="button" class="btn btn-primary">Useless button</button>
  </div>
</div>