<div class="card" style="width: 80vw;margin-left:auto;margin-right:auto">
  <div class="card-header">
    <h1>New friend</h1>
  </div>
  <div class="card-body">
    <%= render "form", friend: @friend %>
  </div>
</div>

<br>

<div>
  <%= link_to "Back", friends_path %>
</div>

<br>